@tailwind base;
@tailwind components;
@tailwind utilities;

a.tab{
  @apply block mr-10 w-3/4 pt-2 pl-2 border-b-2 border-transparent text-gray-600;
}

a.tab:hover:not(.active){
  @apply border-gray-100 text-gray-800;
}

a.active {
  @apply font-bold border-gray-200 text-black;
}

span.label {
  @apply text-gray-500 font-thin;
}

.bg-wall-st {
  /* background-image: url(wall-st.jpg); */
  @apply bg-center bg-cover bg-no-repeat;
}

button {
  @apply border px-2 px-4 rounded;
}

button:hover:not(:disabled) {
  @apply bg-gray-100;
}

button:disabled {
  @apply opacity-50 cursor-default;
}

button.primary {
  @apply bg-blue-500;
}

/* Hide steppers in number inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
